.home {
    &-hero {
        width: 100%;
        position: relative;
        background-color: var(--clr-blue);

        &-image {
            background-repeat: no-repeat;
            object-fit: cover;
            height: auto;
            max-height: 700px;
            width: 100%;
            opacity: 0.6;
        }

        &-block {
            width: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-text {
            width: 65%;
            margin: 0 auto;
            text-align: center;
            font-size: calc(20px + (52 - 14) * ((100vw - 300px) / (1600 - 300)));
            text-transform: uppercase;
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em 0;
        }
    }

    &-intro {
        border-right: solid var(--clr-accent) 2px;
        margin: auto;
        width: 70%;
        
        &-block {
            background-color: var(--clr-blue);
            width: 100%;
            padding: 4em 0;
        }

        &-heading {
            width: 80%;
            margin-bottom: 3em;
            text-align: left;
            font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        }

        &-subheading, &-text {
            width: 80%;
            text-align: left;
            font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        }

        &-subheading {
            margin-bottom: 1rem;
        }
    }

    &-stats {
        margin: 0 auto;
        width: 65%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        
        &-block {
            background-color: var(--clr-blue);
            width: 100%;
        }

        &-text {
            width: 100%;
            font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
            text-align: center;
            white-space: pre-line;
            margin: 0 auto 3em auto;
        }

        &-strong {
            color: var(--clr-accent);
            text-transform: uppercase;
            font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        }
    }

    &-courses, &-reviews {
        padding: 2em 0;
        &-heading {
            text-align: center;
            color: var(--clr-black);
        }

        &-subheading {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 2rem;
            color: var(--clr-black);
        }

        &-cards {
            width: 80%;
            margin: 0 auto 2rem auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1em;
        }
    }

    &-reviews-cards {
        width: 95%;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }

    &-video {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;

        &-block {
            margin: 0 auto;
            max-width: 60%;
        }
        
        &-embed {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border: solid var(--clr-accent) 2px;
        }
    }
}

@media screen and (max-width: 899px) {
    .home-video-block {
        max-width: 90%;
    }
}